.parallax-container
  .parallax
    img src="images/bg-a.png" alt="Help text image."
.section.blue-grey.lighten-3
  .row.container
    h2.header Commands:
    .col.s12
      | Donnybrook has the following commands: <br> &nbsp
    .col.s3
      | Command <br> &nbsp
    .col.s9
      | Description <br> &nbsp
    .col.s3
      | .setup Game, Category
    .col.s9
      | This will create a new race inside donnybrook and create a text and voice channel with the race id as its name. <br> Example .setup A link to the Past, Any% <br> &nbsp
    .col.s3
      | .join <race id>
    .col.s9
      | Join a race with the specified id <br> example: .join ABCD <br> &nbsp
    .col.s3
      | .leave <race id>
    .col.s9
      | Leave a race with the specified id before it is started <br> example .leave ABCD <br> &nbsp
    .col.s3
      | .ready
    .col.s9
      | Ready up for the race after you're done setting up <br> &nbsp
    .col.s3
      | .unready
    .col.s9
      | Leave the ready state for the race. <br> &nbsp
    .col.s3
      | .start
    .col.s9
      | Once everyone is ready start the race. <br> &nbsp
    .col.s3
      | .done
    .col.s9
      | Once you finish the race use this. Donnybrook will give you your total time in the race. <br> &nbsp
    .col.s3
      | .forfeit
    .col.s9
      | Not able to keep going use this to exit the race early. <br> &nbsp
    .col.s3
      | .help
    .col.s9
      | You're reading it. <br> &nbsp
    .col.s3
      | .invite
    .col.s9
      | Got a question? join the Donnybrook discord here: https://discord.gg/cyZzPZY <br> &nbsp
    .col.s3
      | .voicejoin
    .col.s9
      | Join a voice channel for voiced countdown. Must be in voice channel for this to work. <br> &nbsp
    .col.s3
      | .voiceleave
    .col.s9
      | Leave the voice channel <br> &nbsp
    .col.s3
      | .cleanup
    .col.s9
      | Cleans messages in channel command is run in. User must have <code><b>Manage Message</b></code> permissions. <br> &nbsp
    .col.s3
      | .scatter "Channels to scatter to"
    .col.s9
      | Scatter users to the provided channels. User must have <code><b>Manage Server</b></code> Permissions. <br> Example: .scatter ChannelA,ChannelB,ChannelC

.parallax-container
  .parallax
    img src="images/bg-b.png" alt="Donnybrook race screenshot."



