.parallax-container
  .parallax
    img src="images/bg-a.png" alt="Donnybrook help screenshot."
.section.blue-grey.lighten-3
  .row.container
    h2.header Donnybrook
    .col.s12 Donnybrook is a SpeedRun Race organization bot. (I'm still working on him, got some bugs to fix first)
    .col.s12 Want to use Donnybrook on your Discord, then click below to invite Donnybrook to your discord, or if you need help, click the other button to join the Donnybrook Discord.
    .col.s12 Already running Donnybrook? and need a reference for the commands click commands up in the corner.
    .col.s12 Donnybrook is created by MediaMagnet and is written in GoLang, and uses mongoDB.
    .col.s12 &nbsp
    .col.s12 &nbsp
    .col.s2
      /! TODO: Readd bot link
      a.waves-effect.waves-light.btn-large.blue.darken-4.disabled href=""
        i.material-icons.left>add_circle_outline
        | Invite!
    .col.s2
      a.waves-effect.waves-light.btn-large.blue.darken-4 href="https://discord.gg/tB4tF7q"
        i.material-icons.left>help_outline
        | Join us!

.parallax-container
  .parallax
    img src="images/bg-b.png" alt="Donnybrook race screenshot."

