/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require material_icons.helpers
 *= require material_icons.sharp
 *= require material_icons.round
 *= require material_icons.outlined
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');


 .parallax-container {
   height: 500px;
 }
 code {
   font-family: "Sintony", sans-serif;
 }
  
 body {
  font-family: 'Sintony', sans-serif;
 }

 .alert {
	.card-content {
		span {
			font-weight: bold;
			font-size: 1.1em;
			margin-right:4px;
		}
		.material-icons {
			font-size: 1.5em;
			position: relative;
			top: 5px;
			margin-right: 0.5em;
		}	
	}
}	

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}