/* @import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

.parallax-container {
   height: 300px;
 }
 code {
   font-family: "Sintony", sans-serif;
 }
 
 .alert {
	.card-content {
		span {
			font-weight: bold;
			font-size: 1.1em;
			margin-right:4px;
		}
		.material-icons {
			font-size: 1.5em;
			position: relative;
			top: 5px;
			margin-right: 0.5em;
		}	
	}
}	

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}


$transition-effects: color 2s ease, background-color 2s ease;

body {
	font-family: 'Sintony', sans-serif;
	background-color: #1e282d;
	color: #87a0ad;
	transition: $transition-effects;
	.section {
		background-color: #29363d;
		color: #87a0ad;
	}
}

.collapsible {
	background-color: #87a0ad;
}

.darkfont {
	color: #1e282d;
}

.slider .slides {
	background-color: #29363d!important;
}

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #772953;
	--pink: #e83e8c;
	--red: #DF382C;
	--orange: #E95420;
	--yellow: #EFB73E;
	--green: #38B44A;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #868e96;
	--gray-dark: #333;
	--primary: #E95420;
	--secondary: #AEA79F;
	--success: #38B44A;
	--info: #17a2b8;
	--warning: #EFB73E;
	--danger: #DF382C;
	--light: #e9ecef;
	--dark: #772953;
	--font-family-sans-serif: sintony, sans-serif;
}*/